### Haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
.virtualenv
.hsenv
.hpc
.cabal-sandbox/
cabal.sandbox.config
cabal.config
cabal.project.local
.ghc.environment.*
.HTF/
.hie/
# Stack
.stack-work/
stack.yaml.lock

### IDE/support
# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*~
tags

# IntellijIDEA
.idea/
.ideaHaskellLib/
*.iml

# Atom
.haskell-ghc-mod.json

# VS
.vscode/

# Emacs
*#
.dir-locals.el
TAGS

# other
.DS_Store
.env
/out/production/learn4haskell/Chapter1.hs
/out/production/learn4haskell/Chapter2.hs
/out/production/learn4haskell/Chapter3.hs
/out/production/learn4haskell/Chapter4.hs
/out/test/learn4haskell/Test/Chapter1.hs
/out/test/learn4haskell/Test/Chapter2.hs
/out/test/learn4haskell/Test/Chapter3.hs
/out/test/learn4haskell/Test/Chapter4.hs
/out/test/learn4haskell/DoctestChapter1.hs
/out/test/learn4haskell/DoctestChapter2.hs
/out/test/learn4haskell/DoctestChapter3.hs
/out/test/learn4haskell/DoctestChapter4.hs
/out/test/learn4haskell/Spec.hs
/stack.yaml
